
body {
    font-family: 'Open Sans', sans-serif;
    color: #393d41;
    line-height: 1.65rem;
    font-size: 1.2rem;   }

                                                     /* HEADER */
                                                    
header{ 
        background-color: black;         
        text-align: center;
        margin-bottom: 2rem;                
    }

header div {
        background-image: url(../images/banner.jpg);
        background-position: top center;
        background-size: cover;
        }

header h1{    
    font-weight: bolder;
    color: #25a2c3;
    font-size: 2.4rem;
    padding-bottom: 1rem;
    padding-top: 3rem;  
    box-sizing: border-box;
    line-height: 2rem;
    font-family: 'Montserrat', sans-serif
    }

header p {  
    padding: 15px;
    }

header form { 
    padding-bottom: 37px;}

header button { 
        border: 7px solid #f04c2f;
        border-radius: 5px;
        background-color: #f04c2f;
        color: white;
        font-weight: bolder;
        font-size: 0.9rem; 
        padding: 5px 19px;}

header img { padding: 15px;}

                                                    /* MAIN */

main {
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem; }


                                                    /* ELEMENTI NEL MAIN - ARTICLE */
main h2{ 
    font-weight: bolder;
    color:#25a2c3;
    padding-top: 1.8rem;
    padding-bottom: 1rem;
    font-size: 1.3rem;}


main article img { 
    max-width: 100%;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 50%; 
    box-sizing: auto; }

main article div { 
    background-color: #f04c2f;
    color: white;
    box-sizing: border-box;  
    margin: 2rem -2rem;    }          


main article div>h1 { 
    font-family: 'Montserrat (bold)', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    padding: 3rem 0.5rem; 
    margin-top: 5rem;}

main article div q{ 
    font-style: italic;
    font-size: 1rem;}

main article div p:first-of-type{
    font-size: 1.4rem;
    padding-top: 2rem;}
main article div p:last-of-type{
    font-size: 1rem;
    padding-bottom: 2rem;}

                                                       /* ELEMENTI NELL' ASIDE */


div img {
    width: 100%;
    height: auto;}

aside div { 
    border: 0.1rem solid#dee1e3;
    margin-bottom: 1em;}

aside div p {
    padding-top: 0.5rem;
    padding-bottom: 2.4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;}

aside div h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;}

                                                          /* FOOTER */
                                                    
 footer {
        background: #25a2c3;       
        color: #ffffff;
        padding: 1em;
        text-align: center;
        font-size: 1.2rem;
        box-sizing: auto;    }

footer h1{
    font-family: 'Montserrat (bold)', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    padding: 1.5rem 0.5rem;}

footer address{
    font-size: 1.2rem;

}
footer a{ color: white;}
footer p {
    padding-top: 0.6rem;
    padding-bottom: 4rem;
    font-size: 0.9rem;}

                                                        